body {
    margin: 0;
}

.forgot-container {
    background-color: slategray;
    width: 400px;
    height: 86vh;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

h1 {
    
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    color: black;
    word-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;
}

.input-container .input-field {
    
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 3px 10px;
    display: block;
    height: 30px;
    
}

.input-container {
    display: flex;
    justify-content: center;
}

::placeholder {

    font-size: 15px;
}

.submit-button {
    background-color: navy;
    color: white;
    border: none;
    padding: 10px 75px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.back {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.back a:hover {

    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: navy;
}
